<ul>
  <% @lists.each do |list| %>
    <li><%= list.name %></li>
    <%= cl_image_tag("kpimodvywqzgdjvi3aqw",
      width: 150, height: 150, crop: :thumb, gravity: :face) %>
  <% end %>
</ul>

<div>
  <%= link_to "créer une nouvelle liste", new_list_path %>
</div>
